<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/navbar.css">
    <title> Welcome to OneThird </title>
</head>

<body>
    <% include ../partials/navbar.ejs%>
    <% include ../partials/msg.ejs %>


            <div class="header row">
                <div class="col-sm-6">
                    <h1>Items</h1>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Quantity</th>
                                <th>Expiry Date</th>
                                <th>Points</th>
                                <th>Approved</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% for (var i = 0; i< items.length; i++){ %>
                                <tr>
                                        <td><%= items[i].title %></td>
                                        <td><%= items[i].quantity %></td>
                                        <td><%= items[i].date %></td>
                                        <td><%= items[i].points %></td>
                                        <td><%= items[i].approved %></td>
                                </tr>

                            <%}%>

                        </tbody>
                    </table>
                </div>
            </div>





            <% include ../partials/scripts.ejs %>

</body>

</html>