<h1>Browse</h1>
<div class="items">
    <% if(items.length > 0) { %>

        <% for (i = 0;i < items.length;i++){ %>
            <div class="item" data-toggle="modal" data-target="#<%= items[i].item %>item-modal">
                <img class='thumbnail' src=<%= items[i].img %>>
                <div class="item-info">
                    <p class="item-desc">
                        <%= items[i].quantity %>
                            <%= items[i].item %>
                    </p>
                    <p class="item-price">$
                        <%= items[i].price %>
                    </p>

                </div>
            </div>

            <div id="<%= items[i].item %>item-modal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <form action="/main" method="post">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Item Information</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <img class='thumbnail' src=<%= items[i].img %>>

                            <div class="form-group">
                                <label for="title"> Item</label>
                                <input type="text" class="form-control" name="title" value=<%= items[i].quantity %><%= items[i].item %> disabled></input>
                            </div>
                            <div class="form-group">
                                <label for="point"> Points</label>
                                <input type="text" class="form-control" name="point" value=<%= items[i].price%> points disabled></input>
                            </div>
                            <div class="form-group">
                                <label for="title"> Expiry</label>
                                <input type="text" class="form-control" name="expiry" value=<%= items[i].expiry.getDate()%>/<%=items[i].expiry.getMonth()%>/<%=items[i].expiry.getFullYear()%> disabled></input>
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" type= number name=index style="display:none;"> <%=i %></textarea>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default">Add to Cart</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <% } %>
                <% } else { %>
                    <h1> No items</h1>
                    <% } %>
</div>

<% include scripts.ejs %>