<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../css/users.css">
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../css/myorders.css">
    <title> My Orders </title>
</head>

<body>
<% include ../partials/navbar.ejs%>
<% include ../partials/msg.ejs %>

<div class="whole-page">

        <div class="col-md-6 mx-auto card card-body">
            <h3 class="text-center">My Orders</h3>

                <% if (receipts.length < 1 ){%>
                    <h2> You have no past orders</h2>
                <% } %>

                    <% for(i = 0; i < receipts.length; i++) { %>
            <div class="card card-body order-body">
                <table>
                    <thead class = "order-table-head">
                    <tr>
                        <th colspan = '2'>Order ID: <%= receipts[i]._id %></th>
                        <th colspan = '2'>Ordered on: <%= moment(receipts[i].date).format('YYYY-MM-DD')%></th>
                    </tr>
                    </thead>

                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Expiry</th>
                        <th>Points</th>
                    </tr>

                        <% for(var key in receipts[i].orderItems) { %>
                        <tr>
                            <td><%= receipts[i].orderItems[key].title %></td>
                            <td><%= receipts[i].orderItems[key].quantity %></td>
                            <td><%= moment(receipts[i].date).format('YYYY-MM-DD')%></td>
                            <td><%= receipts[i].orderItems[key].points %></td>
                        </tr>
                        <% } %>
                    <tr class="total-points">
                        <td></td>
                        <td></td>
                        <td></td>
                        <th>Total Points: <%= receipts[i].points%></th>
                    </tr>
                </table>
            </div>
                    <% } %>


        </div>

</div>

</body>

</html>